<footer class="footer uk-margin-large-top uk-section-muted uk-padding-large" role="contentinfo">
  <section class="uk-container">

    <div class="uk-child-width-1-3@l uk-child-width-1-1" uk-grid>

      <div>

        <ul class="uk-list">
          {{/*
          <li><a href="" class="uk-icon-button" uk-icon="icon: twitter"></a></li> */}}
          <li><a href="{{ .Site.Params.Social.facebook_link }}" class="uk-icon-button" uk-icon="icon: facebook"></a>Facebook</li>
          {{/*
          <li><a href="" class="uk-icon-button" uk-icon="icon: instagram"></a></li> */}}
        </ul>
      </div>
      {{/* <div>
        <h5>Test</h5>
        <ul class="uk-nav uk-nav-default">
          <li><a href="#">Item</a></li>
          <li><a href="#">Item</a></li>
        </ul>
      </div> */}}

      </aside>
    </div>
    <hr>
    <div class="has-text-centered">
      &copy; {{ now.Format "2006" }} &middot; <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    </div>
  </section>
</footer>
