<header class="site-header" role="navigation" aria-label="main navigation">
  <nav id="nav" class="uk-navbar-container uk-height-small" uk-navbar>
    <div class="uk-navbar-left">

      <a class="uk-navbar-item uk-logo" href="{{ .Site.BaseURL }}">
        <img src="/images/logo.svg" alt="{{ .Site.Title }}" title="{{ .Site.Title }}">
        </a>
    </div>
    <div class="uk-navbar-right">
    <ul class="uk-navbar-nav">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
        {{/* {{ if .HasChildren }}
          <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
            <a href="#">
              {{ .Pre }}
              <span>{{ .Name }}</span>
            </a>
            <ul class="sub-menu">
              {{ range .Children }}
                <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                  <a href="{{ .URL }}">{{ .Name }}</a>
              {{ end }}
            </ul> */}}
        {{/* {{else}} */}}
          <li>
            <a href="{{.URL}}">
              {{ .Pre }}
              <span>{{ .Name }}</span>
            </a>
        {{/* {{end}} */}}
      {{end}}
    </ul>
    </div>
  </nav>
</header>
