<meta name="verification" content="bf543393fb9e1a3a5b3f499abe2b37e8" />
<meta name="google-site-verification" content="C0lklVHnxQsV-VR_ofl8yq8hyJaJuYd3nHl3KKBIc28" />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{ with .Description }}<meta name="description" content="{{ . }}">{{ end }}
{{ partial "site/favicon.html" . }}
{{ partial "seo.html" . }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/4.0.2/lazysizes.min.js"></script>
