<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.32/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.32/js/uikit-icons.min.js"></script>
