// ...
@import '~uikit/src/scss/variables-theme';
@import '~uikit/src/scss/mixins-theme';
@import '~uikit/src/scss/uikit-theme';
@import 'typography';

#nav {
    background: rgba(255, 255, 255, .85);
    box-shadow: 0 2px 40px 0 rgba(0, 0, 0, .08);
    z-index: 9999;
}

.uk-card-hover,
.uk-card  {
    transition: 300ms;
}

article table {
    @extend .uk-table;
    @extend .uk-table-divider;
}


.custom-round-badge {
    border: 1px solid black;
    border-radius: 2em;
    padding: 15px 20px;
  }

.featured-svg {
    object-fit: cover;
    height: 500px;
  }

.card-svg {
    object-fit: cover;
    height: 300px;
  }

.card-svg-contain {
    object-fit: cover;
  }

.card-title {
    height: 300px;
  }

.uk-navbar-item > img {
    object-fit: contain;
    width: 300px;
  }


  h1 a, h2 a {
    color: #000000;
    font-weight: 700;
  }

  h1 a:hover, h2 a:hover {
    text-decoration: none;
    color: #000;
  }

.color-Aberto {
    background-color: #17c671;
  }

.color-Fechado {
    background-color: #c4183c;
  }

.concurso-header {
    color: #000;
  }
