.is-equal-height {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.is-medium-width {
    width: 50%;
}

.has-extra-padding {
    padding: 15rem;
}

.card,
.box {
    box-shadow: 0 5px 4px 0 rgba(219, 219, 219, .5);
    transform: translate3d(0, 0, 0);
    transition: 300ms;
}

.card:hover,
.box:hover {
    box-shadow: 0 22px 43px rgba(219, 219, 219, .5);
    transform: translateY(-4px);
}

.navbar {
    box-shadow: 2px 40px rgba(0, 0, 0, .08);
}
