.is-equal-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%; }

.is-medium-width {
  width: 50%; }

.has-extra-padding {
  padding: 15rem; }

.card,
.box {
  -webkit-box-shadow: 0 5px 4px 0 rgba(219, 219, 219, 0.5);
          box-shadow: 0 5px 4px 0 rgba(219, 219, 219, 0.5);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: 300ms;
  transition: 300ms; }

.card:hover,
.box:hover {
  -webkit-box-shadow: 0 22px 43px rgba(219, 219, 219, 0.5);
          box-shadow: 0 22px 43px rgba(219, 219, 219, 0.5);
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px); }

.navbar {
  -webkit-box-shadow: 2px 40px rgba(0, 0, 0, 0.08);
          box-shadow: 2px 40px rgba(0, 0, 0, 0.08); }
