<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
    <head>

        {{ block "site/meta" . }}{{ partial "site/meta.html" . }}{{ end }}

        <title>{{ block "title" . }}
            {{- with .Title }}{{ . }} | {{ end }}{{ .Site.Title -}}
        {{ end }}</title>

        {{ if .RSSLink }}
            <link href="{{ .RSSLink }}" title="{{ .Site.Title }}" type="application/rss+xml" rel="alternate">
        {{ end }}

        {{ block "site/styles" . }}{{ partial "site/styles.html" . }}{{ end }}
        {{ if eq (getenv "HUGO_ENV") "production" }}
          {{ block "gtm" . }}{{ partial "site/gtm.html" . }}{{ end }}
        {{ end }}
    </head>
    <body>

      {{ if eq (getenv "HUGO_ENV") "production" }}
        {{ block "gtag" . }}{{ partial "site/gtag.html" . }}{{ end }}
      {{ end }}
        {{ block "header" . }}{{ partial "site/header.html" . }}{{ end }}

        <main class="site-main" role="main">


            {{ block "main" . }}{{ end }}

        </main>

        {{ block "footer" . }}{{ partial "site/footer.html" . }}{{ end }}

        {{ block "site/scripts" . }}{{ partial "site/scripts.html" . }}{{ end }}

    </body>
</html>
