{{ define "main" }}
<div class="uk-container">
<div class="uk-child-width-1-2@m uk-child-width-1-1 uk-grid-match uk-margin-large-top" uk-grid>
  {{ range .Paginator.Pages }}
  <div>
    {{ partial "blog-card-layout.html" . }}
  </div>
  {{ end }}
  {{ template "_internal/pagination.html" . }}
</div>
</div>

{{ end }}
