{{ define "main" }}

<article>
{{ if .Params.featured_image }}
  <div class="uk-cover-container uk-height-large uk-animation-fade">
   <img  {{ with .Params.featured_image }}  src="{{ . }}" {{end}}  alt="{{ .Title }}" uk-cover>
  </div>
{{ end }}
  <div class="uk-container uk-margin-large-top uk-margin-large-bottom">
    <div class="uk-width-3-4 uk-align-center">
      <div class="uk-article">
        {{ with .Params.categories }}
        <a class="uk-text-uppercase uk-text-bold uk-link-muted" href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
        {{ end }} -
        <time>{{ .Date.Format "02/01/2006" }}</time>
        <h1 class="uk-article-title uk-margin-top uk-margin-bottom">{{ .Title }}</h1>
        <p class="uk-text-lead">
    {{ .Params.subtitle }}
  </p> {{ .Content }} {{ range .Params.tags }}
        <a class="tag is-large" href="{{ " /tags/ " | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{ end }}
      </div>
    </div>
  </div>
</article>

{{ partial "related-posts.html" . }}
<div class="uk-container">
{{ partial "concursos/concurso-list.html" . }}
</div>


{{ end }}
