{{ define "main" }}
<div class="uk-container">
<div class="title uk-padding">
  <h1 class="uk-heading-divider uk-heading-primary">{{ .Title }}</h1>
  {{ .Description }}
</div>
<div class="uk-child-width-1-2@m uk-child-width-1-1 uk-grid-match uk-margin-large-top" uk-grid>
  {{ range .Data.Pages}}
  <div>
    {{ partial "blog-card-layout.html" . }}
  </div>
  {{ end }}
</div>
</div>

{{ end }}
