<!-- Required Open Graph Info -->
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ end }}{{ end }}" />
{{/* <meta property="og:type" content="{{ if .Params.type }}{{ .Params.type }}{{ else }}website{{ end }}" /> */}}
<meta property="og:url" content="{{ .Permalink }}" />
{{ if .Params.og_image }}
	<meta property="og:image" content="{{ .Site.BaseURL }}/{{.Params.og_image }}" />
{{ end }}
<!-- Optional Open Graph Markup -->
<meta property="og:updated_time" content="{{ .Date }}"/>
{{ with .Site.Params.title }}<meta property="og:site_name" content="{{ . }}" />{{ end }}
<!-- Facebook Page Admin ID for Domain Insights -->
{{ with .Site.Params.social.facebook_admin }}<meta property="fb:app_id" content="{{ . }}" />{{ end }}
