<div class="uk-card uk-card-default uk-card-hover uk-animation-slide-bottom uk-flex uk-flex-column">
  {{ if .Params.featured_image }}
  <div class="uk-card-media-top">
    <img class="uk-width-1-1 card-svg lazyload" {{ with .Params.featured_image }} data-src="{{ . }}" {{ end }} alt="{{ .Title }}">
  </div>


  {{end}}
  <div class="uk-card-body uk-flex-1">
    <header>
      <h2><a href="{{.Permalink}}">{{.Title}}</a></h2>
    </header>
    <div class="uk-flex-bottom">
    <p>{{.Summary}}</p>
    </div>
  </div>
  <div class="uk-card-footer">
  {{ with .Params.categories }}
  <a class="uk-text-uppercase uk-text-bold uk-link-reset" href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
  {{ end }}
    </div>
</div>
