<div class="uk-card uk-card-default uk-animation-slide-bottom uk-card-hover uk-border-rounded">
<div class="uk-card-header">
<h3 class="uk-card-title uk-light">{{ .Title }}</h3>
</div>
  <div class="uk-card-body">
    {{/* <h1 class="uk-card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1> */}}
    {{/* {{ range .Params.categories }}
    <a href="{{ " /categories/ " | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{ end }} */}}
    <p>{{ .Summary }}</p>
    <dl class="uk-description-list uk-description-list-divider">
      {{ if isset .Params "level" }}
      <dt>Nível</dt>
      <dd>{{ index .Params "level" }}</dd>
      {{ end }}

      {{ if isset .Params "spaces" }}
      <dt>Vagas</dt>
      <dd>{{ index .Params "spaces" }}</dd>
      {{ end }}

      {{ if isset .Params "salary" }}
      <dt>Salário Máximo</dt>
      <dd>R$ {{ index .Params "salary" }}</dd>
      {{ end }}

      {{ if isset .Params "deadline" }}
      <dt>Inscrições até</dt>
      <dd>{{ index .Params "deadline" }}</dd>
      {{ end }}
    </dl>
    <div class="uk-card-footer">
      {{/* <time>{{ .Date.Format "Mon, Jan 2, 2006" }}</time> */}}
    </div>
  </div>
</div>
