<div class="uk-card uk-card-default uk-card-hover">
  <div class="uk-card-media-top">
    <img class="uk-width-1-1 featured-svg lazyload" {{ with .Params.featured_image }} data-src="{{ . }}" {{ end }} alt="{{ .Title }}">
  </div>
  <div class="uk-card-body">
    <header>
      <h1><a href="{{.Permalink}}">{{.Title}}</a></h1>
    </header>
    <p>{{.Summary}}</p>
  </div>
</div>
