<div class="uk-card uk-padding uk-text-center uk-card-default uk-flex uk-flex-middle uk-flex-column">
<h3>Quer dicas e informações exclusivas sobre Concursos Públicos?</h3>
<form method="post" enctype="multipart/form-data" action="https://25.e-goi.com//w/1e1e1i4QegucMWishAe377f7b33">
  <input type="hidden" name="lista" value="1">
  <input type="hidden" name="cliente" value="277490">
  <input type="hidden" name="lang" id="lang_id" value="br">
  <input type="hidden" name="formid" id="formid" value="1">
  {{/* <label for="fname_1" easylabel="Nome">
    Nome  *
  </label> */}}
  <input class="uk-input uk-margin-top" type="text" name="fname_1" id="fname_1" placeholder="Nome*">
  {{/* <label for="email_2" easylabel="E-mail">
    E-mail  *
  </label> */}}
  <input class="uk-input uk-margin-top" type="email" name="email_2" id="email_2" placeholder="E-mail*">
  <input class="uk-button uk-button-primary uk-width-1-1 uk-margin-top" type="submit" value="Enviar">
</form>
</div>
