<div class="uk-container uk-margin-large-bottom">

  {{ partial "newsletter-signup.html" . }}


  <h2 class="uk-heading-divider uk-text-bold">Conteúdo relacionado</h2>
  <div class="uk-child-width-1-3@l uk-child-width-1-1 uk-grid-match uk-margin-large-top" uk-grid>
    {{ $related := .Site.RegularPages.Related . | first 3 }} {{ with $related }} {{ range . }}
    <div>
      {{ partial "blog-card-layout.html" . }}
    </div>
    {{ end }}
    {{ end }}
  </div>
</div>
