{{ define "main" }}
<div class="uk-container uk-margin-large-top">
  <div class="uk-child-width-1-1" uk-grid>
    {{ range first 1 (where .Pages "Type" "post")}}
    <div>
    {{ partial "featured-card-layout.html" . }}
    </div>
    {{ end }}
  </div>

  <div class="uk-child-width-1-1 uk-child-width-1-2@m uk-grid-match" uk-grid>
    {{ range first 20 (after 1 (where .Pages "Type" "post")) }}
    <div>
      {{ partial "blog-card-layout.html" . }}
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
