{{ define "main" }}
<div class="uk-container">
  <div class="uk-margin-large-top">
    <h1>Concursos<h1>
</div>
<div class="uk-child-width-1-3@m uk-child-width-1-1 uk-grid-match uk-margin-large-top" uk-grid>
  {{ range sort .Data.Pages "Params.status" }}
  <div>
  <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-animation-slide-bottom uk-flex uk-flex-column">
  <div class="uk-card-header concurso-header color-{{.Params.status}}">
    <h4 class="uk-margin-remove">{{ .Params.status }}</h4>
  </div>
    <div class="uk-card-body uk-flex-1">
      <header>
        <h2 class="uk-margin-remove"><a href="{{.Permalink}}">{{.Title}}</a></h2>
      </header>
      <dl class="uk-description-list uk-description-list-divider">
      {{if .Params.levels}}
        <dt>Escolaridade</dt>
        {{ range .Params.levels }}
        <dd> <span class="uk-label">{{ . }} </span></dd>
        {{ end }}
        {{end}}
        {{ with .Params.endDate }}
        <dt>Término das inscrições</dt>
        <dd> {{ . | dateFormat "02/01/2006" }}
        </dd>
        {{end}}
        {{if .Params.state }}
        <dt>Estado</dt>
        {{ range .Params.state }}
        <dd>{{.}}</dd>
        {{end}}
        {{end}}
      </dl>
    </div>
  </div>
  </div>
  {{ end }}
</div>

{{ partial "concursos/concurso-list.html" . }}

</div>
{{ end }}
