{{ define "main" }}

<article>
  <div class="uk-container uk-margin-large-top uk-margin-large-bottom">
    <div class="uk-grid">

      {{ partial "concursos/sidebar.html" . }}

      <div class="uk-width-4-4 uk-width-3-4@l">
        <div class="uk-article">
          {{ range .Params.categories }}
          <a class="uk-text-uppercase uk-text-bold" href="{{ " /categories/ " | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{ end }} {{/* <time>{{ .Date.Format "January 2, 2006" }}</time> */}}
          <h1 class="uk-article-title uk-margin-top uk-margin-bottom">{{ .Title }}</h1>
          <p class="uk-text-lead">
            {{ .Params.subtitle }}
          </p> {{ .Content }} {{ range .Params.tags }}


          <a class="tag is-large" href="{{ " /tags/ " | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{ end }} {{if .Params.affiliateLinks}}
          <h3 class="uk-margin-bottom">Quer ser aprovado? Acesse o melhor material aqui!</h3>
          {{range .Params.affiliateLinks }}
          <a class="uk-link-reset" href="{{.affiliateLink}}">
          <div class="uk-card uk-card-hover uk-card-default uk-card-small uk-grid-collapse uk-margin uk-flex uk-flex-middle uk-text-center uk-text-left@m" uk-grid>
            <div class="uk-card-media-left uk-width-1-3@m uk-text-center">
              <img class="uk-padding-small" src="{{.affiliateLogo}}" alt="{{.affiliateLinkTitle}}" width="250" height="250">
            </div>
            <div class="uk-width-2-3@m ">
              <div class="uk-card-body">
                <h3 class="uk-card-title uk-margin-remove">{{.affiliateLinkTitle}}</h3>
                <p>{{ .affiliateText }}</p>
              </div>
            </div>
          </div>
        </a>
          {{end}}
          {{end}}
        </div>
      </div>

    </div>
    {{ partial "concursos/concurso-list.html" . }}
  </div>
</article>


{{/* {{ partial "related-posts.html" . }} */}} {{ end }}
