<section id="concurso-list" class="uk-grid-margin-large">
  <div class="uk-card uk-card-default">
    <div class="uk-card-body">
      <h2>Concursos por estado</h2>
      <hr>
<div uk-grid>
        {{ range $key, $taxonomy := .Site.Taxonomies.state }}
          {{ $term := $.Site.GetPage "taxonomy" "state" $key }}
        <div class="uk-width-1-3@m">
        <h4> {{/* <a href="{{ $term.Permalink }}"> */}} {{ $term.Title }}{{/*</a> */}} </h4>
        <ul class="uk-list">
            {{ range $taxonomy.Pages }}
            <li hugo-nav="{{ .RelPermalink}}"><a class="uk-link-reset" href="{{ .Permalink}}"> {{ .LinkTitle }} </a> </li>
            {{ end }}
        </ul>
        </div>
        {{ end }}
  </div>
</div>
</div>
</section>
