<div class="uk-width-1-1 uk-width-1-4@l ">
  <div class="uk-card uk-card-default">
    <div class="uk-card-header concurso-header color-{{.Params.status}}">
      <h3 class="uk-margin-remove">{{ .Params.status }}</h3>
    </div>
    <div class="uk-card-body">
      <dl class="uk-description-list uk-description-list-divider">
        {{if .Params.levels}}
        <dt>Escolaridade</dt> {{ range .Params.levels }}
        <dd> {{ . }} </dd>
        {{ end }} {{end}} {{ with .Params.endDate }}
        <dt>Término das inscrições</dt>
        <dd> {{ . | dateFormat "02/01/2006" }}
        </dd>
        {{end}} {{if .Params.state }}
        <dt>Estado</dt> {{ range .Params.state }}
        <dd>{{.}}</dd>
        {{end}} {{end}}
      </dl>
    </div>
  </div>

  {{if .Params.affiliateLinks}}
  <div class="uk-card uk-card-default uk-margin-top">
    <div class="uk-card-header">
      <h4 class="uk-margin-remove">Materiais</h4>
    </div>
    <div class="uk-card-body">
      <ul class="uk-list uk-list-divider">
        {{range .Params.affiliateLinks }}
        <li><a class="uk-link-text" rel="nofollow" title="{{.affiliateLinkTitle}}" href=" {{.affiliateLink}} ">{{.affiliateLinkTitle}}</a></li>
        {{end}}
      </ul>
    </div>
  </div>
  {{end}}
</div>
