{{ with $.Site.GetPage "page" "concursos" (printf "%s.md" (.Get 0)) }}
<a class="uk-link-reset" href="{{.Permalink}}">
<div class="uk-card uk-card-default uk-card-hover uk-margin-large-bottom uk-margin-large-top">
  <div class="uk-card-header concurso-header color-{{.Params.status}}">
    <h3 class="uk-card-title">{{ .Title }}</h3>
    {{.Params.Status}}
</div>
<div class="uk-card-body">
    {{.Summary}}
</div>
</div>
</a>
{{ end }}
